@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 6
   Case Problem 2

   Sudoku Style Sheet
   Author: JMP
   Date:   June 08, 2019

   Filename:         jpf_sudoku.css

*/

/* Table Styles */

table {
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    width: 90%;
}

td {
    border: outset gray 5px;
    width: 33.3%;
}

th {
    color: gray;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Inner Table Styles */

table.subTable {
    border-collapse: collapse;
    width: 100%;
}

table.subTable td {
    box-shadow: inset 0px 0px 15px;
    border: solid black 1px;
    color: blue;
    height: 40px;
    text-align: center;
    vertical-align: center;
}

td.goldBox td {
    background-color: rgb(228, 199, 42);
}

td.greenBox td {
    background-color: rgb(203, 229, 130);
}